<!DOCTYPE html>
<!--
The MIT License

**** Copyright © Long Zhang(kanch).
**** Email: kanchisme@gmail.com
**** Code created on Mar 01 2018

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<form action="api/signup" method="post">
    <div class="form-group">
        <label for="signup_name" class="bmd-label-floating">Your name</label>
        <input type="text" class="form-control" id="signup_name" name="name">
        <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
    <div class="form-group">
        <label for="signup_email" class="bmd-label-floating">Email address</label>
        <input type="email" class="form-control" id="signup_email" name="email">
        <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
    <div class="form-group">
        <label for="signup_password" class="bmd-label-floating">Password</label>
        <input type="password" class="form-control" id="signup_password" name="password">
        <span class="bmd-help">Please use strong password including symbol,lowercase,uppercase and number.</span>
    </div>
    <div class="form-group">
        <label for="signup_confirmpassword" class="bmd-label-floating">Confirm Password</label>
        <input type="password" class="form-control" id="signup_confirmpassword">
    </div>
    <div class="checkbox pt-md-5 pb-md-4">
        <label>
            <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
            I agree with the <a href="#" target="_blank">End User Agreement</a> 
        </label>
    </div>

    <button type="submit" class="btn btn-raised btn-success btn-lg btn-block">Register</button>
    <button type="button" class="btn btn-link btn-block"><small>Login</small></button>
</form>
<script>
    
</script>