<!DOCTYPE html>
<!--
The MIT License

**** Copyright © Long Zhang(kanch).
**** Email: kanchisme@gmail.com
**** Code created on Mar 03 2018

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" style="box-shadow: 0 0 5px 0 rgba(0,0,0,.35);">
    <span class="console-nav-split-text">Analytics</span>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link console-siderbar active" data-url="/templates/console/overview" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">account_balance</i><span class="console-sidebar-icon-text">Overview</span>
                <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/reports" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">assignment</i><span class="console-sidebar-icon-text">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/realtimeanalytics" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">timeline</i><span class="console-sidebar-icon-text">Realtime</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#moreAnalytics" class="collapsed">
            <a class="nav-link console-siderbar" data-url="/templates/console/analytics" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">assessment</i><span class="console-sidebar-icon-text">Analytics</span>
                <i class="material-icons console-sidebar-icon-text mr-0">expand_more</i>
            </a>
        </li>
        <ul class="sub-menu collapse console-sidebar-collapse" id="moreAnalytics" style="height: 0px;">
            <li class="nav-item console-sidebar-subnav">
                <a class="nav-link console-siderbar" data-url="/templates/console/analytics" href="javascript:">
                    <i class="material-icons console-sidebar-icon-text">lightbulb_outline</i><span class="console-sidebar-icon-text">Auto</span>
                </a>
            </li>
            <li class="nav-item console-sidebar-subnav">
                <a class="nav-link console-siderbar" data-url="/templates/console/analytics" href="javascript:">
                    <i class="material-icons console-sidebar-icon-text">library_books</i><span class="console-sidebar-icon-text">Cross-table</span>
                </a>
            </li>
            <li class="nav-item console-sidebar-subnav">
                <a class="nav-link console-siderbar" data-url="/templates/console/analytics" href="javascript:">
                    <i class="material-icons console-sidebar-icon-text">settings_ethernet</i><span class="console-sidebar-icon-text">Customize</span>
                </a>
            </li>
        </ul>
    </ul>

    <hr class="console-nav-split"><span class="console-nav-split-text">Database</span>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/logs" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">content_cut</i><span class="console-sidebar-icon-text">Logs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/credentials" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">archive</i><span class="console-sidebar-icon-text">Credentials</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/logs" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">assignment_late</i><span class="console-sidebar-icon-text">Logs</span>
            </a>
        </li>
    </ul>

    <hr class="console-nav-split"><span class="console-nav-split-text">Account</span>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link console-siderbar" data-url="/templates/console/settings" href="javascript:">
                <i class="material-icons console-sidebar-icon-text">settings</i><span class="console-sidebar-icon-text">Settings</span>
            </a>
        </li>
    </ul>
</nav>